.App {
    text-align: center;
  }
  
  
  
  .Game-wrapper {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white !important;
  }
  
  .App-link {
    color: #4885ed;
  }
  .submitbtn{
    background: #db3236;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
  
  }
  .submitbtn p{
    padding:20px 15px;
  }
  .colstyle{
    flex: 1;
    padding: 10% 0;
    /* height: 35px; */
    border: 0.5px solid #fff;
    background: #4885ed;
  }
  .rowstyle{
    flex: 1;
    flex-direction: row;
    display: flex;
    min-height: 10px;
    cursor: pointer;
  }
  .logoutbtn{
    padding: 10px;
    background: #ff3c00;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
  }
  .countdown-comp{
    margin: -5px 0 10px 0;
  }
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media (min-width:480px) {
    .board-grid {
      width: 400px;
  
    }
    .modalwrap{
      margin: 0;
    }
 
  }

  @media (max-width:480px) {
    .board-grid {
      width: 100%;
  
    }
    .modalwrap{
      margin: 0;
    }

  }